<!DOCTYPE html>
<html>

<head>
    <title>POST PAGE</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/card.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/nav.css') }}">
</head>

<body style="height: 3000px;">
    <nav class="nav">
        <div class="left-section">
            <div class="logo">Social Media</div>
            <div class="left-nav-item">
                <a href="{{ url_for('views.home_page') }}">Home</a>
            </div>
            <div class="left-nav-item">
                <a href="{{ url_for('views.posts_page') }}">Posts</a>
            </div>
            <div class="left-nav-item">
                <a href="{{ url_for('views.create_post_page') }}">Create post</a>
            </div>
        </div>

        {% if current_user.is_authenticated %}
        <div class="right-section">
            <div class="right-nav-item"><a style="cursor: pointer;">{{ current_user.username }}</a></div>
            <div class="right-nav-item"><a href="{{ url_for('auth.logout_page') }}">Logout</a></div>
        </div>
        {% else %}
        <div class="right-section">
            <div class="right-nav-item"><a href="{{ url_for('auth.login_page') }}">Login</a></div>
            <div class="right-nav-item"><a href="{{ url_for('auth.register_page') }}">Register</a></div>
        </div>
        {% endif %}
    </nav>

    <main class="card-grid">
        {% for post in posts %}
        <div class="card">
            <div class="card-header">
                <h2>{{ post.title }}</h2>
            </div>
            <div class="card-content">
                <p>{{ post.content }}</p>
            </div>
            <div class="card-footer">
                <div class="date">{{ post.created_at }}</div>
                <div class="author">user_id: {{ post.owner_id }}</div>
            </div>
        </div>
        {% endfor %}
    </main>

</body>

</html>