{% set current_page='posts' %}
{% extends 'base.html'%}
{% block title %}
Welcome To Social Media App
{% endblock %}
{% block content %}

<body>
    <main class="card-grid">
        {% for post in posts %}
        {% include 'includes/post_modals.html' %}
        <div class="card">
            <div class="card-header">
                <h2>{{ post.title }}</h2>
                {% if current_user.is_authenticated and current_user.id == post.owner_id %}
                <div class="card-actions">
                    <div class="delete-icon-container">
                        <img src="{{ url_for('static', filename='stylesheets/trash.svg') }}" alt="trash"
                            class="delete-button" data-toggle="modal" data-target="#Modal-Delete-{{ post.id }}">
                        <div class="delete-tooltip">Delete</div>
                    </div>
                    <!-- <button class="delete-button">Delete</button> -->
                    <div class="update-icon-container">
                        <img src="{{ url_for('static', filename='stylesheets/pen.svg') }}" alt="edit"
                            class="update-button" data-toggle="modal" data-target="#Modal-Update-{{ post.id }}">
                        <div class="update-tooltip">Edit</div>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="card-content">
                <p>{{ post.content }}</p>
            </div>
            <div class="card-footer">
                <div class="date">{{ post.created_at }}</div>
                <div class="author">user_id: {{ post.owner_id }}</div>
            </div>
        </div>
        {% endfor %}
    </main>

</body>
{% endblock %}